body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f7fa;
  }

  .forgotpassword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
  }

  .container-forgot {
    background-color: #ffffff;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 600px;
    /* margin: 20px auto; */
  }

  h1 {
    margin-bottom: 10px;
    font-size: 20pt;
    color: #009b05;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 11pt;
    color: #111111;
    letter-spacing: 0.5px;
  }

  input[type="email"] {
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: rgb(230, 230, 230);
  }

  button {
    padding: 0.8rem;
    width: 100%;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #f00101;
  }

  .message {
    margin-top: 1rem;
    color: #0f0;
    font-weight: bold;
    display: none;
  }

  .error {
    color: #f66;
    font-size: 0.9rem;
  }
  @media (max-width: 600px){
     .forgotpassword{
    height: 60vh;
  }
    .container-forgot {
      padding: 30px;
      border-radius: 10px;
      max-width: 400px;
    }
  
    h1 {
      font-size: 16pt;
    }
  
    p {
      font-size: 10pt;
    }
  }

   /* FOOTER DESIGN  */ 
   footer{    
    background-color: black; 
    display:flex;       
    flex-direction: column;
    padding: 20px; 
    justify-content: center;
    /* margin-top: none; */
    bottom: 0;    
  }
  .Social{
    display:flex; 
    gap: 32px; 
    justify-content: center;       
  }
  .Social i {
    color: #21c401;
    font-size:xx-large; 
    animation-iteration-count:initial;    
  }
  .Social i:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.5);
    transition: all .1s ease-in-out;
  }
  .ItemList {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;    
    font-size: 13pt; 
    gap: 18px; 
    color: white; 
    margin-top:20px; 
    margin-bottom:40px; 
    padding: 0 28px 0px 28px;
  }
  .ItemList li{
    list-style-type: none;     
  }
  .ItemList a{
    list-style-type: none;   
    text-decoration: none;
    color: white;
  }
  .ItemList :hover{
    color: #d5d80d;
    border-bottom:  #d5d80d 1px solid ;
    text-decoration: double;
    cursor:pointer;
    /* transform: scale(1.5);
    transition: all .1s ease-in-out; */
  }
  .FooterList{
    display: flex; 
    flex-direction: column; 
    justify-content: center; color: white; 
    gap:17px; 
  }
  .FooterList img {
    width: 80px; 
    margin: auto;
  }
  .FooterList p a{
    font-size: 10pt; 
    letter-spacing:1px; 
    margin: auto;
    color: white;
    text-decoration: none;
  }
  
  
  @media screen and (max-width: 600px){
        
    footer{
        /* position:absolute;          */
        /* bottom: 0; */
        /* margin-top: 20%; */
        /* margin-top: 50px; */
    } 
    
    .ItemList {            
        font-size: 10pt;       
    }
    .FooterList img {
      width: 70px;        
  }
  .FooterList p a{
      font-size: 8pt;  
      letter-spacing: 1px;      
  }
  .FooterList p{
    font-size: 8pt; 
    letter-spacing:1px; 
  } 
  
  }